@media screen and (orientation: portrait), screen and (max-width: 800px) {
	.main-content {
		width:95vw;
		height:95vh;
		margin:auto;
	}
}

#question {
	text-align:center;
}

#options button {
	width:100%;
	padding:15px;
	font-size:15px;
	border:none;
	border-radius:5px;
	margin:5px;
	font-family:'Open Sans', sans-serif;
	background-color:#EEEEEE;
}

#options button:hover {
	background-color:#CCCCCC;
}

image {
	display:none;
}