
#question {
	text-align:center;
	padding-bottom:30px;
}

#button {
	padding-bottom:30px;
}

#options {
	overflow:hidden;
}

#options button {
	width:100%;
	padding:15px;
	font-size:15px;
	border:none;
	border-radius:5px;
	margin:5px;
	font-family:'Open Sans', sans-serif;
	background-color:#EEEEEE;
}

#options button:hover {
	background-color:#CCCCCC;
	cursor:pointer;
}

image {
	display:none;
}