* {
    box-sizing: border-box;
}

html {
	height:100%;
	width:100%;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}

body {
	top:0;
	margin:0;
	font-family:'Crimson Text';
	width:100%;
	min-height:100%;
	background:linear-gradient(#a6f2fc, #5ebcc9);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

#top-bar {
	background-color:#FEFEFE;
	width:100%;
}

#top-bar img {
	display:block;
	margin:auto;
}

body .main-content {
	max-width:800px;
	display:block;
	margin:auto;
	margin-top:30px;
	
	background:#FEFEFE;
	padding:30px;
	border-radius:10px;
	font-family: 'Open Sans', sans-serif;
}

@media screen and (orientation: portrait), screen and (max-width: 800px) {
	.main-content {
		width:95vw;
		margin:auto;
		margin-top:5vh;
	}
	
}



h1,h2 {
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}


#search {
	padding:15px;
	width:100%;
	font-size:15px;
	background:#def8fc;
	border:none;
	border-radius:5px;
}

ul {
	list-style-type:none;
	padding:0;
}

li a {
	width:95%;
	display:block;
	padding:15px;
	border-radius:5px;
	margin:10px auto;
	text-decoration:none;
	color:black;
	background:#EEEEEE;
}

li a:hover {
	background:#CCCCCC;
}

.button {
	border:none;
	background-color:#EEEEEE;
	padding:15px;
	font-size:15px;
	width:100%;
}

.active, .button:hover {
	background-color:#CCCCCC;
}

#accordion .panel {
	max-height:0;
	overflow:hidden;
	transition: max-height 0.2s ease-out;
}

#accordion .panel .content {
	padding:15px;
}

#button button{
	border:none;
	background:#EEEEEE;
	width:100%;
	font-size:15px;
	padding:15px;
	font-family:'Open Sans', sans-serif;
	border-radius:5px;
}

#button button:hover {
	background:#CCCCCC;
}

img {
	max-width:100%;
}